.button {
    button {
        cursor: pointer;
        font-style: normal;
        font-weight: 400;
        font-size: 38px;
        line-height: 69px;
        /* identical to box height */


        color: #FFFFFF;
        background-color: #EA7052;
        border: 1px solid #EA7052;
        border-radius: 16px;

        width: 100%;
    }
}