.input {
    input {

        width: 100%;
        background: #F4F4F4;
        border-radius: 16px;
        border: none;
        margin-bottom: 20px;
        padding: 30px 40px;
        outline: none;

    }
}