.hero__second {

    padding: 30px 60px;

    .hero__content {
        padding-top: 80px;
        display: flex;
        justify-content: space-between;

        .left {
            padding-right: 60px;

            h3 {
                font-style: normal;
                font-weight: 700;
                font-size: 64px;
                line-height: 91px;


                color: #000000;

                span {
                    color: #EA7052;

                }
            }

            p {
                font-style: normal;
                font-weight: 300;
                font-size: 32px;
                line-height: 46px;

                color: #000000;

                padding: 65px 0;
            }

            .hero__icons {
                width: 520px;
            }

        }
    }
}

#hero__second {
    background-color: #F4F4F4;

    .right {
        img {
            width: 520px;
        }
    }

}


@media(max-width:500px) {
    .hero__second .hero__content .left {
        padding-right: initial;
    }

    .hero__second .hero__content .left h3 {
        line-height: initial;
        font-size: 32px;
    }
}